/* Try different box model properties below */

/* * {
  border: 1px solid red;
} */

.pages__page {
  border: 1px solid #4491db;
  border-radius: 4px;
  background: #fff;
}

.countries .country {
  padding: 15px 15px;
  margin-bottom: 10px;
}

.site-wrapper {
  padding: 20px;
}

.pages .pages__showing {
  display: block;
  margin-top: -15px;
}

.pages {
  margin-top: 5px;
}
